<<<<<<< HEAD
=======
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

>>>>>>> origin/develop
.one{
    margin: 4px;
}
td{
    text-align: center;
}
.two{
    padding: 5px;
}
<<<<<<< HEAD
.box{
}
=======
>>>>>>> origin/develop
